<!DOCTYPE html>
<html>
  <head>
    <title>Fwitch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('F-Logo.png') %>
    <% if current_user %>
      <script>
      window.currentUser = {
          "id": <%= current_user['id'] %>,
          "username": "<%= current_user['username'] %>",
          "email": "<%= current_user['email'] %>"
        };
      </script>
    <% end %>
    
    <script type="text/javascript">
      window.Fwitchlogo = "<%= image_url('Fwitch-logo.png') %>";
      window.Flogo = "<%= image_url('F-Logo.png') %>"
      window.githubLogo = "<%= image_url('githublogo.png') %>"
      window.linlogo = "<%= image_url('linlogo.png') %>"

      window.settings = "<%= image_url('settings.png') %>"
      window.signOut = "<%= image_url('sign-out-option.png') %>"
      window.video = "<%= image_url('video.png') %>"

    </script>
  </head>

  <body>
    <meta property="og:title" content="Project Title" />
    <meta property='og:image' content="<%= image_url('fwitch_pic.png') %>"/>
    <meta property="og:description"
      content="Full stack React/Redux and rails clone of Twitch.tv. Made with PostgreSQL
      and good programming practices."
    />
    <meta property="og:url"
      content="https://fwitch.herokuapp.com/#/"
    />
    <%= yield %>
  </body>
</html>
